* {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 90%;
    min-width: 1200px;
    margin: 0 auto;
}
h1 {
    color: #7e5bc9;
    margin-bottom: 10px;
}
ul {
    color: black;
    width: 350px;
}
ul li {
    list-style: none;   
}
ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
ul li a:hover { 
    color: hotpink;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 350px);
    gap: 20px;
    grid-template-rows: 1fr;
    
}