* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Delius Unicase', cursive;
}
main {
    padding-bottom: 1px;
}

.container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
    
}

.item {
    position: relative;
    
}
.name {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
}
.date {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #e0e0e0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(3, 370px);
    gap: 30px; 

}

.colspan2 {
  grid-column: span 2;
}

.rowspan2 {
  grid-row: span 2;
}

.item {
    overflow: hidden;
    border-radius: 20px;
    opacity: 0.8;
    transition: all .2 ease;
    position: relative;
    
}
.item .btns-wrap {
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    opacity: 0;
    transition: all .2 easy;
    z-index: 6;
}

.btn {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(224,224,224, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 8px;
    transition: all .2 ease;
}

.btn.heart {
    transform: translate(-65px, -65px);
    transition: all .2s ease;
}
.item:hover .btn.heart {
    transform: translate(0, 0);
}
.btn.download {
    transform: translate(65px, -65px);
    transition: all .2s ease;
}
.item:hover .btn.download {
    transform: translate(0, 0);
}

.btn:hover {
    background-color: #fff;
}

.item:hover .btns-wrap {
    opacity: 1;
}

.item:hover {
    opacity: 1;
   filter: drop-shadow(0px 0px 30px rgba(0,0,0, 0.5)); 
}

.item:hover::before {

    background: linear-gradient(to top, #241F24 1.04%, rgba(91, 91, 91, 0.26) 6.99%, rgba(187, 186, 192, 0) 12.29%);
}


.item::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #241F24 0%, rgba(91, 91, 91, 0.447552) 34.11%, rgba(187, 186, 192, 0.26) 62.5%);
    z-index: 5;
}

.item img {
    transition: all .2 ease;
}

.item:hover img {
    transform: scale(1.1);
}
.section-title {
    padding-top: 120px;
    margin-bottom: 80px;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.05em;
}
/* SECTION 2 */

.grid-2 {
    grid-template-rows: repeat(4, 370px);
}
/* SECTION 3 */
.grid-3 {
    grid-template-rows: repeat(5, 370px);
    margin-bottom: 120px;
}

.section-3 .container{
    margin-bottom: 120px;
}
