/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 10 version
*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-size: 1rem;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: top;
}

a, button {
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

ul, ol {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}

.hmb-wrap {
  z-index: 1001;
  display: none;
}

.hamburger {
  border: none;
  background: none;
  position: relative;
  width: 50px;
  height: 48px;
}
.hamburger::before, .hamburger::after, .hamburger span {
  content: "";
  display: inline-block;
  width: 37px;
  height: 4px;
  position: absolute;
  background-color: #fff;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  left: 5px;
}
.hamburger::before {
  top: 12px;
}
.hamburger span {
  top: 24px;
}
.hamburger::after {
  bottom: 7px;
}
.hamburger.active span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}
.hamburger.active::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 23px;
}
.hamburger.active::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 21px;
}

#mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#55b7ff), to(#7e5aff));
  background: -o-linear-gradient(left, #55b7ff 0%, #7e5aff 100%);
  background: linear-gradient(90deg, #55b7ff 0%, #7e5aff 100%);
  background-color: #487bb9;
  z-index: 1001;
  width: 350px;
  height: 100vh;
  -webkit-transform: translateX(-350px);
  -ms-transform: translateX(-350px);
  transform: translateX(-350px);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#mobile-menu.open {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.mobile-menu-list ul {
  padding-top: 120px;
  padding-left: 50px;
  position: relative;
}
.mobile-menu-list ul li {
  list-style: none;
  margin-bottom: 50px;
}
.mobile-menu-list ul li:hover a::before {
  background-color: #fff;
}
.mobile-menu-list ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 24px;
  position: relative;
}
.mobile-menu-list ul li a::before {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 9px;
  border: 1px solid #fff;
  background-color: transparent;
  top: 8px;
  left: -30px;
}
.mobile-menu-list ul li a:hover {
  color: #000;
}

#shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 999;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
}
#shadow.show {
  opacity: 1;
  visibility: visible;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  padding-top: 40px;
}
#header.scroll {
  height: 60px;
  padding-top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#55b7ff), to(#7e5aff));
  background: -o-linear-gradient(left, #55b7ff 0%, #7e5aff 100%);
  background: linear-gradient(90deg, #55b7ff 0%, #7e5aff 100%);
}
#header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#header .container img {
  width: 100%;
  height: 53px;
}
#header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 73px;
}
#header .container nav ul li:hover a::before {
  background-color: #fff;
}
#header .container nav ul a {
  text-decoration: none;
  padding: 10px;
  line-height: 54px;
  text-transform: uppercase;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 0.875rem;
  color: #FFFFFF;
  position: relative;
}
#header .container nav ul a::before {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 9px;
  border: 1px solid #fff;
  background-color: transparent;
  top: 13px;
  left: -15px;
}

.socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 20px;
}
.socials ul li:hover svg path {
  fill: #2C4058;
}
.socials ul li:hover svg circle {
  stroke: #2C4058;
  opacity: 1;
}

#first_section {
  background: url(imgs/bg.png) center/cover no-repeat;
  width: 100%;
  margin-bottom: 130px;
  text-align: center;
}
#first_section .lSSlideOuter .lSPager.lSpg {
  position: absolute;
  top: 265px;
  right: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
#first_section .lSSlideOuter .lSPager.lSpg > li {
  padding: 16px 15px;
}
#first_section .container {
  text-transform: uppercase;
  font-family: "Montserrat";
  padding-top: 330px;
  color: #FFFFFF;
  position: relative;
}
#first_section .container h1 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 98px;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}
#first_section .container h3 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 22px;
  letter-spacing: 0.3em;
  margin-bottom: 240px;
}

.btn-arrow {
  background-color: transparent;
  border: none;
}
.btn-arrow svg {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.btn-arrow:hover svg path {
  fill: #2C4058;
}
.btn-arrow:hover svg circle {
  stroke: #2C4058;
}

.section_title {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.75rem;
  text-align: center;
  color: #2C4058;
  position: relative;
}
.section_title::before {
  position: absolute;
  display: block;
  content: "";
  width: 100px;
  height: 1px;
  background-color: #2C4058;
  top: -31px;
  left: 45.8%;
}

#second_section .section_title {
  margin-bottom: 147px;
}
#second_section .block_wrap {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  color: #2C4058;
  margin-bottom: 177px;
}
#second_section .block_wrap.reverse {
  flex-direction: row-reverse;
  margin-bottom: 154px;
}
#second_section .block_wrap.reverse .title {
  white-space: nowrap;
}
#second_section .block_wrap p {
  max-width: 470px;
  width: 100%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 30px;
  margin-bottom: 30px;
}
#second_section .block_wrap .img {
  max-width: 630px;
  width: 100%;
  position: relative;
}
#second_section .block_wrap .img .bg {
  position: absolute;
  width: 100%;
  top: -57px;
  right: -215px;
  z-index: -1;
}
#second_section .block_wrap .img .bg.bg-left {
  left: -215px;
}
#second_section .block_wrap .subtitle {
  padding-top: 94px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 1.375rem;
  line-height: 27px;
  font-weight: 400;
}
#second_section .block_wrap .title {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2.75rem;
  line-height: 54px;
  margin-bottom: 19px;
}
#second_section .block_wrap .location {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 20px;
}
#second_section .block_wrap .location a {
  text-decoration: none;
  color: #000;
}
#second_section .block_wrap .location a span {
  margin-right: 5px;
}
#second_section .block_wrap .location:hover a {
  color: #487bb9;
}
#second_section .block_wrap .btn-cont {
  margin-bottom: 60px;
}

#news-section {
  background: url(imgs/news-bg.png) center/cover no-repeat;
  width: 100%;
  height: 978px;
}
#news-section .section_title {
  color: #fff;
  padding-top: 150px;
  margin-bottom: 90px;
}
#news-section .section_title::before {
  top: 119px;
  background-color: #fff;
}
#news-section .my-slider .card {
  width: 100%;
  max-width: 370px;
  background-color: #fff;
  color: #2C4058;
  font-family: "Montserrat";
  font-weight: 400;
}
#news-section .my-slider .card:hover {
  transition: all 0.6s ease;
  transform: translateY(-5px);
}
#news-section .my-slider .card .news-img {
  width: 100%;
  margin-bottom: 30px;
  height: 240px;
  display: block;
  background: url(imgs/noimage.png) center/cover #487bb9;
}
#news-section .my-slider .card a {
  text-decoration: none;
}
#news-section .my-slider .card .card-title {
  max-width: 330px;
  width: 100%;
  padding: 0 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 1.375rem;
  height: 50px;
  text-decoration: none;
  color: #000;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
#news-section .my-slider .card .text {
  padding: 0 20px;
  font-family: "Open Sans";
  font-size: 1.125rem;
  margin-bottom: 39px;
  height: 50px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
#news-section .my-slider .card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px 30px;
  gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#news-section .my-slider .card .card-footer .avatar {
  width: 60px;
  height: 60px;
}
#news-section .my-slider .card .card-footer .avatar img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}
#news-section .my-slider .card .card-footer .name {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin-bottom: 6px;
  white-space: nowrap;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  max-width: 200px;
  width: 100%;
}
#news-section .my-slider .card .card-footer .date {
  font-size: 0.875rem;
  line-height: 17px;
  color: #55B7FF;
}

#news-section .container {
  position: relative;
}
#news-section .container .btn-slide {
  position: absolute;
  top: 60%;
  border: none;
  background-color: transparent;
}
#news-section .container .btn-slide#slide-prev {
  left: -100px;
}
#news-section .container .btn-slide#slide-next {
  right: -100px;
}
#news-section .container .btn-slide:hover svg circle {
  stroke: #2C4058;
}
#news-section .container .btn-slide:hover svg path {
  fill: #2C4058;
}

.lSSlideOuter .lSPager.lSpg > li.active a, .lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: #fff;
}

.lSSlideOuter .lSPager.lSpg > li a {
  background-color: transparent;
  border-radius: 30px;
  display: inline-block;
  border: 1px solid #fff;
  height: 10px;
  overflow: hidden;
  text-indent: -999em;
  width: 10px;
  position: relative;
  z-index: 99;
  -webkit-transition: all 0.5s linear 0s;
  -o-transition: all 0.5s linear 0s;
  transition: all 0.5s linear 0s;
}

.lSSlideOuter .lSPager.lSpg > li {
  cursor: pointer;
  display: inline-block;
  padding: 30px 20px;
}

#gallery-section {
  padding-top: 180px;
}
#gallery-section .section_title {
  margin-bottom: 90px;
}
#gallery-section .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 284px 10px 284px 10px 284px 10px 284px;
  grid-template-columns: repeat(4, 284px);
  -ms-grid-rows: 214px 10px 214px;
  grid-template-rows: repeat(2, 214px);
  gap: 10px;
  margin-bottom: 60px;
}
#gallery-section .gallery .gal {
  position: relative;
}
#gallery-section .gallery .gal .overlay {
  background-color: rgba(44, 64, 88, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
}
#gallery-section .gallery .gal .overlay .icon-zoom-in {
  font-size: 2.5rem;
}
#gallery-section .gallery .gal:hover .overlay {
  opacity: 1;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
#gallery-section .gallery .col-1 {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
#gallery-section .btn-cont {
  margin-bottom: 150px;
  text-align: center;
}
#gallery-section .btn-cont a.btn {
  padding: 15px 56px;
}

#init-map-link {
  position: relative;
  display: block;
  height: 100%;
}
#init-map-link::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#init-map-link:hover::after {
  opacity: 1;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.contacts {
  max-width: 830px;
  width: 100%;
  background: url(imgs/form-bg.png) center/cover no-repeat;
  position: absolute;
  top: -337px;
  left: 25%;
  z-index: 1000;
  padding-top: 100px;
  font-family: "Montserrat";
}
.contacts .section_title {
  margin-bottom: 42px;
}
.contacts .section_title::before {
  left: 44%;
}
.contacts .form-wrap {
  padding: 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 70px;
}
.contacts .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contacts .info h4 {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 28px;
}
.contacts .info h4 span {
  margin-right: 5px;
  color: #7e5aff;
}
.contacts form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
}
.contacts form input[type=text] {
  width: 310px;
  height: 41px;
  border: 1px solid #fff;
  border-bottom-color: rgba(44, 64, 88, 0.2);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 31px;
  font-size: 1.125rem;
}
.contacts form input[type=text] .has-error {
  border-color: red;
}
.contacts form input[type=text]:hover {
  border: 1px solid #fff;
  border-bottom-color: #2C4058;
  font-family: "Montserrat";
}
.contacts form input[type=text]:hover ::-webkit-input-placeholder {
  color: #000;
}
.contacts form input[type=text]:hover ::-moz-placeholder {
  color: #000;
}
.contacts form input[type=text]:hover :-ms-input-placeholder {
  color: #000;
}
.contacts form input[type=text]:hover ::-ms-input-placeholder {
  color: #000;
}
.contacts form input[type=text]:hover ::placeholder {
  color: #000;
}

:focus {
  outline: none;
}

#name:focus,
#email:focus {
  border: 1px solid #fff;
  border-bottom-color: #2C4058;
}

.btn-submit {
  width: 140px;
  height: 50px;
  display: block;
  line-height: 50;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 27px;
  background-color: #fff;
  border: 1px solid #000;
}
.btn-submit:hover {
  background-color: #7e5aff;
  border-color: #7e5aff;
}

#footer {
  position: relative;
  background: url(imgs/footer-bg.png) center/cover no-repeat;
}
#footer .container {
  padding: 177px 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#footer .socials {
  padding-top: 5px;
}
#footer img {
  width: 241px;
  height: 53px;
  margin-bottom: 41px;
}
#footer .copy {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 17px;
  color: #FFFFFF;
}

a.btn {
  line-height: 50px;
  position: relative;
  padding: 15px 40px;
  border: 1px solid black;
  color: black;
  text-decoration: none;
  font-size: 0.875rem;
  font-family: "Montserrat";
  font-weight: 400;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
a.btn:hover {
  border: none;
}
a.btn:hover .line-1 {
  -webkit-animation: move1 1500ms infinite ease;
  animation: move1 1500ms infinite ease;
}
a.btn:hover .line-2 {
  -webkit-animation: move2 1500ms infinite ease;
  animation: move2 1500ms infinite ease;
}
a.btn:hover .line-3 {
  -webkit-animation: move3 1500ms infinite ease;
  animation: move3 1500ms infinite ease;
}
a.btn:hover .line-4 {
  -webkit-animation: move4 1500ms infinite ease;
  animation: move4 1500ms infinite ease;
}

.line-1 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: black;
  left: 0;
  bottom: 0;
}

.line-2 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: black;
  left: 0;
  top: 0;
}

.line-3 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: black;
  right: 0;
  top: 0;
}

.line-4 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: black;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}
@-webkit-keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@-webkit-keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}
@-webkit-keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@media screen and (max-width: 1490px) {
  #second_section .block_wrap .img .bg.bg-left {
    left: -100px;
  }

  #second_section .block_wrap .img .bg {
    right: -100px;
  }
}
@media screen and (max-width: 1360px) {
  #second_section .block_wrap .img .bg.bg-left {
    left: -70px;
  }

  #second_section .block_wrap .img .bg {
    right: -70px;
  }

  #news-section .container .btn-slide#slide-next {
    right: -40px;
  }

  #news-section .container .btn-slide#slide-prev {
    left: -40px;
  }

  #gallery-section .gallery {
    grid-template-columns: repeat(4, 240px);
    grid-template-rows: repeat(2, 200px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .contacts {
    left: 162px;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@media screen and (max-width: 1160px) {
  #first_section .container h1 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 1060px) {
  #first_section .lSSlideOuter .lSPager.lSpg {
    right: 20px;
    top: 150px;
  }

  #header .container nav ul {
    gap: 22px;
  }

  #first_section .container {
    padding-top: 200px;
  }
  #first_section .container h3 {
    margin-bottom: 50px;
  }

  #gallery-section .gallery {
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 180px);
  }

  .contacts {
    left: 10%;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }

  #second_section .block_wrap .img .bg.bg-left {
    left: -50px;
  }

  #second_section .block_wrap .img .bg {
    right: -50px;
  }

  #second_section .block_wrap .img {
    max-width: 400px;
    width: 100%;
    height: 300px;
  }

  #second_section .block_wrap .subtitle {
    padding-top: 10px;
  }

  #second_section .block_wrap .btn-cont {
    margin-bottom: 20px;
    text-align: center;
  }

  #second_section .block_wrap .location {
    text-align: center;
  }
}
@media screen and (max-width: 980px) {
  #news-section {
    height: 720px;
  }

  #gallery-section .gallery {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-columns: repeat(2, 284px);
    grid-template-rows: repeat(4, 214px);
  }

  #second_section .block_wrap,
#second_section .block_wrap.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
  }

  #first_section {
    margin-bottom: 50px;
  }

  #second_section .section_title {
    margin-bottom: 60px;
  }
  #second_section .block_wrap {
    margin-bottom: 100px;
  }

  #second_section .block_wrap.reverse {
    margin-bottom: 50px;
  }

  #header .container nav ul {
    gap: 10px;
  }

  #news-section .section_title {
    padding-top: 50px;
    margin-bottom: 40px;
  }

  .socials ul {
    gap: 5px;
  }

  .contacts {
    top: -200px;
    left: 10px;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }
  .contacts .section_title {
    font-size: 40px;
  }

  #footer .container {
    padding: 190px 37px 50px;
  }

  #gallery-section .btn-cont {
    margin-bottom: 50px;
  }

  #gallery-section {
    padding-top: 80px;
  }
  #gallery-section .section_title {
    margin-bottom: 40px;
  }

  .contacts .form-wrap {
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .hmb-wrap {
    display: block;
  }

  #header .container nav {
    display: none;
  }

  #first_section .container h1 {
    font-size: 2.375rem;
  }
  #first_section .container h3 {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 680px) {
  #first_section .lSSlideOuter .lSPager.lSpg {
    right: 0px;
    top: 100px;
  }

  #news-section .my-slider .card {
    max-width: none;
  }

  .contacts .section_title {
    margin-bottom: 20px;
  }

  .contacts {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    left: 0;
  }
  .contacts .form-wrap {
    padding: 0 30px 70px;
    gap: 10px;
  }

  .contacts form input[type=text] {
    width: 246px;
  }
}
@media screen and (max-width: 560px) {
  .contacts .section_title {
    font-size: 30px;
  }

  #first_section .container h1 {
    line-height: 40px;
  }

  #first_section .container h3 {
    margin-bottom: 8px;
  }

  .section_title::before {
    left: 33%;
  }

  #news-section .section_title::before {
    top: 30px;
  }

  .section_title {
    font-size: 32px;
  }

  #gallery-section .gallery {
    grid-template-columns: repeat(1, 284px);
    grid-template-rows: repeat(5, 214px);
  }

  #gallery-section .gallery .col-1 {
    -ms-grid-row-span: 1;
    grid-row: span 1;
    -ms-grid-column-span: 1;
    grid-column: span 1;
  }

  #news-section .container .btn-slide {
    display: none;
  }

  .contacts .form-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contacts .form-wrap .info {
    gap: 20px;
    padding: 0;
  }
  .contacts .form-wrap .info h4 {
    font-size: 16px;
  }
  .contacts .form-wrap form {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .contacts .form-wrap form input[type=text] {
    width: 100%;
  }

  .contacts .section_title::before {
    left: 38%;
  }

  #footer .container {
    padding: 0px 0px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .contacts {
    top: 0;
    position: relative;
  }

  #footer .socials ul {
    gap: 30px;
  }
  #footer .copy {
    margin-bottom: 10px;
  }

  #first_section .container h1 {
    font-size: 2rem;
  }

  #second_section .block_wrap .img .bg {
    display: none;
  }

  #second_section .block_wrap .title {
    font-size: 32px;
  }

  #second_section .block_wrap.reverse .title {
    white-space: pre-wrap;
  }

  #header .socials {
    display: none;
  }
}
@media screen and (max-width: 460px) {
  .contacts {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}