@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vtbanc');
  src:  url('fonts/icomoon.eot?vtbanc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vtbanc') format('truetype'),
    url('fonts/icomoon.woff?vtbanc') format('woff'),
    url('fonts/icomoon.svg?vtbanc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star-black:before {
  content: "\e900";
}
.icon-star-gray:before {
  content: "\e901";
  color: #e5e5e5;
}
